<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: html_head" />
<body class="app sidebar-mini rtl">
	<div th:replace="fragments :: app-layout"></div>

	<main class="app-content">
		<div class="row">
			<div class="col-md-12">
				<div class="tile">
				
					<h3 class="tile-title">Account Report</h3>
					<div class="table-responsive table_size" style="margin-top: 12px;">          
						<table class="table table-bordered table-responsive table-hover" style=" width: 100%;">
							<thead class="thead-inverse" style="background-color:#2a3492; color:#FFF;">
							<tr>
								<th class="table_heading">Total Income</th>
								<th class="table_heading">Total Expense</th>
								<th class="table_heading">Profit</th>
								<th class="table_heading">Profit (%)</th>
							</tr>
							</thead>
							<tbody>
								<tr style="background-color:#FFF" >
									<td th:text="${totalIncome}"/>
									<td th:text="${totalExpense}"/>
									<td th:text="${totalIncome - totalExpense}"/>
									<td th:if="${totalExpense != 0}" th:text="${100*(totalIncome - totalExpense)/totalExpense}"/>
									<td th:if="${totalExpense == 0}" >-</td>
								</tr>
							</tbody>
						</table>
					</div>
			
					<h3 class="tile-title">Dashboard</h3>
					<form class="dashboardicon" th:action="@{/}" method="get">
						<div class="col-lg-12 flexdisplay">
							<div class="col-lg-6 col-xs-12">
								<label>From Date</label> <input type="date" name="fromDate">
							</div>
							<div class="col-lg-6 col-xs-12">
								<label>To Date</label> <input type="date" name="toDate" style="animation-delay: .2s">
							</div>
							<div class="col-lg-6 col-xs-12">
								<label>Search Type</label> <select class="form-control">
									<option>Select Type</option>
									<option>Cutting</option>
									<option>Embroidery</option>
									<option>Tailor</option>
									<option>Bartech</option>
									<option>Wash</option>
									<option>Packing</option>
									<option>Sale</option>
								</select>
							</div>
						</div>
						<input type="button" name="cancel" class="previous action-button-previous" value="Cancel">
						<input type="submit" name="submit" class="submit action-button" value="Search">
					</form>
					
					<div class="table-responsive table_size" style="margin-top: 12px;">
						<table class="table table-bordered table-responsive table-hover" style="width: 100%;">
							<thead class="thead-inverse" style="background-color: #2a3492; color: #FFF;">
								<tr>
									<th class="table_heading">Type</th>
									<th class="table_heading">Delivered</th>
									<th class="table_heading">Received</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Cutting</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>Embroidery</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>Tailor</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>Bartech</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>Wash</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>Packing</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>Sale</td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
			</div>
		</div>
	</main>


	<div th:replace="fragments :: main_scripts"></div>
</body>
</html>